<!DOCTYPE html>
<html>
  <head>
    <title>MyruleLife</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <% if logged_in? %>
          <%= link_to 'ログアウト', "/logout"%>
        <% else %>
          <%= link_to 'ログイン', "/auth/twitter" %>
        <% end %>
      </nav>
    </header>

     <p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
